body {
	font-family: sans-serif;
}

h1, #caveat {
	text-align: center;
	font-weight: normal;
}

.loaded {
	display: none;
}

#platform {
	font-weight: bold;
}

#bottom-junk {
	position:fixed;
	left:0%;
	bottom:0%;
}

#install-hint {
	display: none;
}

.share-icon {
	height:0.75em;
	display: inline;
}

a {
	color: black;
}